.icon{
    border:none;
    border-radius: 100%;
    background-color: #426dbc;
    cursor: pointer;
    color: white;
    margin-right: 4px;
    width: 28px;
    height: 28px;
    padding: 3px;
}
.icon:hover{
    background-color:#A3D8FF ;
}